html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

p,
span,
img,
h1,
h2,
h3,
th {
  user-select: none;
}

:root {
  --main-bg-color: #262121;
  --main-bg-black: #000000;
  --text-on-main-bg: #e6e5e5;
  --diminished-text-color: #b8b8b8;
  --mainActionColor: #1db954;
  --highlight-element-color: rgba(255, 255, 255, 0.2);
}

* {
  /* color left for reference for re-showing scrollbar */
  scrollbar-color: rgba(5, 4, 4, 0.7) rgba(0, 0, 0, 0);
}

.card {
  border-radius: 10px;
}
