html,
body {
  padding: 0;
  margin: 0;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

p,
span,
img,
h1,
h2,
h3 {
  user-select: none;
}

:root {
  --main-bg-color: #262121;
  --main-bg-black: #000000;
  --text-on-main-bg: #e6e5e5;
  --diminished-text-color: #b8b8b8;
  --mainActionColor: #1db954;
  --highlight-element-color: rgba(255, 255, 255, 0.2);
}

.card {
  border-radius: 10px;
}
